name: InsuredAssurance Cl Pipeline
 
on: 
  push: 
    branches:
    - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:
    
   
 
jobs: 
  buid: 
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout  Code
        uses: actions/checkout@v3
